@font-face {
    font-family: font-regular;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: font-button;
    src: url(./fonts/ComingSoon-Regular.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: font-regular;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

html {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #4A4A70;
    font-size: 18px;
}

/* HEADER */

/* .grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
} */

.header {
    width: 100%;
    text-align: center;
}

h1 {
    display: inline-block;
    text-align: center;
    margin: 1em;
    color: #776899;
}

.logo  {
    width: 5em;
}

/* MAIN */

.main-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: .5em;
}


figcaption {
    font-size: 12px;
    visibility: hidden;
}

.img-related:hover~figcaption {
    visibility: visible;
}

.content {
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
} 

.input-info {
    margin: 1em;
}
/* .input-info:last-child {
    text-align: center;
} */

input{
    cursor: pointer;
    border: 1px solid #776899;
    padding: .5em;
    border-radius: 5px;
}


button {
    font-size: 16px;
    cursor: pointer;
    background-color: #FFEE00;
    padding: .5em;
    border-style: none;
    border-radius: 5px;
}

button:hover {
    background-color: #c9c9c9;
    color: #000000;
}

img {
    /* width: 30%; */
    margin: auto;
}

/* DARK MODE */

.mode {
    background-color: #776899;
    border-radius: 30px;
    font-family: font-button;
}
.dark-mode{
    background-color: rgb(28, 30, 44);
    color: white;
}
