@font-face {
    font-family: font-regular;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: font-button;
    src: url(./fonts/ComingSoon-Regular.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: font-regular;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

html {
    color: #4A4A70;
    font-size: 18px;
}

/* HEADER */

.header {
    width: 100%;
    text-align: center;
}

h1 {
    display: inline-block;
    text-align: center;
    margin: 1em;
    color: #5c5080;
}

.logo {
    width: 5em;
}

/* MAIN */

.main-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: .5em;
}


/* figcaption {
    font-size: 12px;
    visibility: hidden;
}

.img-related:hover~figcaption {
    visibility: visible;
} */

.content {
    text-align: center;
}

.blue {
    background-color: #8AA9BD;
}

.green {
    background-color: #A6C4A2;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-info {
    margin: 1em;
}

input {
    cursor: pointer;
    border: 1px solid #776899;
    padding: .5em;
    border-radius: 5px;
}

button {
    font-size: 16px;
    cursor: pointer;
    background-color: #E8E6E6;
    padding: .5em;
    border-style: none;
    border-radius: 5px;
}

button:hover {
    background-color: #c9c9c9;
    color: #000000;
}

img {
    /* width: 30%; */
    margin: auto;
}

/* DARK MODE */

.mode {
    background-color: #000;
    color: #fff;
}

.dark-mode {
    background-color: rgb(28, 30, 44);
    color: white;
    max-height: 100%;
}

/* SLIDER */

.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: cornflowerblue;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 0 50px 50px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: darkgray;
    color: darkblue;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next {
        font-size: 11px
    }
}